h1 {
	text-align: center;
}
.imgalign	{
	float: left;
}

.sizeimg {
	width: 100px;
	height: 100px;
}

.margin {
	margin-bottom: 30px;
	padding: 20px;
}

.color {
	background-color: gray;
}
.margincol {
	margin-bottom: 30px;
	margin-left: 5px;
}